{% extends 'base.html' %}

{% block subtitle %}
Home
{% endblock %}

{% block body %}

<div id="mission-statement-maybe">
    <h1> Why, hello! </h1>

    <p>
      Welcome to a weird little project. There's not much here 
      (understatement of the century --- just look at my CSS), but I'm hoping you'll 
      be one of many people to change that.
    </p>

    <p>
    This repository exists to be broken. Of the tools developers have to learn, git
    can be one of the most intimidating and stressful to use. I honestly think that
    is partly because of how we all talk about it --- git doesn't have to be scary
    if you're careful. But the the first time you run into a merge conflict or
    write a bunch of code that breaks everything and need to roll back, even if
    you've been very careful, you may find yourself at a loss.
    </p>

    <p>
    During my first hackathon, my team's biggest problems were dealing with merge
    conflicts because we had little experience collaborating with git. I'm much more
    comfortable dealing with them now, but at the time, I came home just feeling
    like I should practice git commands all night.
    </p>
    
    <p>
    So I figured hell, I'll make a thing I don't care much about, add features to 
    it, commit, push, and make myself a toy git repo to practice on. If you want to 
    try playing with this repo too, go for it. Fork it, clone it, do something fun, 
    and send me a pull request. I'll probably accept your changes.
    </p>

    <p>
    After all, I could still use the practice with merge conflicts. :)
    </p>
    
    <p>
    Let us begin **#ourincrediblegitjourney**.  
    </p>

    <p>
    (Or something equally corny. But for serious, if you use this silly hashtag, 
    link to your post in your next pull request or something.)
    </p>
</div>


{% endblock %}